body{
    margin: 0;
}

.paginaReceita {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 25px;
    font-family: sans-serif;
}
 #desc{
    text-align: justify;
}
